<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231759749281-ejopapq7jq2o3m20i2vpv9g8i1mq0222.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231759749281-ejopapq7jq2o3m20i2vpv9g8i1mq0222</string>
	<key>API_KEY</key>
	<string>AIzaSyBkzet6GQhjdd2N_XrLDW4eaR_yXIe5IVY</string>
	<key>GCM_SENDER_ID</key>
	<string>231759749281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gform</string>
	<key>PROJECT_ID</key>
	<string>gform-hosting</string>
	<key>STORAGE_BUCKET</key>
	<string>gform-hosting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231759749281:ios:e51d0fa9c6385e8e22d0e0</string>
</dict>
</plist>